
body {
    margin:0;
    padding:0;
}
.container {
    margin:0;
    padding:0;
}

#img {
    width:100%;
    height:auto;
    background-position: center;
    background-size: cover;
    
}

.center_text {
    position: absolute;
    top:33%;
    left:33%;
    right:33%;
    bottom:33%;
    width:auto;
    border:1px solid blue;
    color:white;
}

.center_text h1 {
    letter-spacing: 3px;
}

.blurb {
    margin:0;
    padding:0;
    background-color: rgb(58, 58, 58);
    color:white

}

.column {
    display: inline;
    margin: 10% 12% 0 12%;
    border: 1px solid red;

}






@media (max-width:1120px){
    #img {
        width:1120px;
        height:auto;
    }
    body {
        overflow-x: hidden;
    }
    .column {
        margin: 0 33% 0 33%;
        display: block;
    }    
}

@media (max-width:650px) {
    .center_text {
        top:33%;
        margin-left:-16%;
        bottom:33%;
        width:333px;
        font-size: small;
    }
}